kivy
configparser
pyjnius 
kivy_garden.zbarcam --extra-index-url https://kivy-garden.github.io/simple/
buildozer

# python -m pip install --upgrade pip setuptools
# python -m pip install --upgrade cython